@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-xl: 1024px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

*{
  transition: all 0.15s ease-in-out;
  box-sizing: border-box;
  font-family: "Delius", cursive;
}

body, html {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

.get-started{
  text-wrap: nowrap;
}

.carousel{
  scroll-snap-type: x mandatory;
}

.carousel-card{
  scroll-snap-align: start;
}

/* hamburger animation */
.burger1{
  animation: down-rotate 0.5s ease-out forwards;
}

@keyframes down-rotate{
  0%{
    margin-bottom: 6px;
  }
  100%{
    margin-bottom: -3px;
    rotate: 45deg;
    width: 32px;
  }
}

.burger2{
  animation: up-rotate 0.5s ease-out forwards;
}

@keyframes up-rotate{
  0%{
    margin-top: 6px;
  }
  100%{
    margin-top: -6px;
    rotate: -45deg;
    width: 32px;
  }
}

.burger-1{
  animation: down-rotate-off 0.5s ease-out forwards;
}

@keyframes down-rotate-off{
  0%{
    margin-bottom: -6px;
    rotate: 45deg;
    width: 32px;
  }
  100%{
    margin-bottom: 6px;
    width: 48px;
  }
}

.burger-2{
  animation: up-rotate-off 0.5s ease-out forwards;
}

@keyframes up-rotate-off{
  0%{
    margin-top: -6px;
    rotate: -45deg;
  }
  100%{
    margin-top: 6px;
    width: 24px;
  }
}

.show{
  animation: return 0.7s ease-out;
}

@keyframes return{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.open-nav{
  display: flex;
  animation: open 0.5s ease-in-out forwards;
}

.close-nav{
  animation: close 0.5s ease-in-out forwards;
}

@keyframes open{
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes close{
  from{
    display: flex;
    transform: translateX(0);
  }
  to{
    transform: translateX(100%);
    display: none;
  }
}

.swiper-pagination {
  position: relative !important; /* Override Swiper's default */
  bottom: -10px !important; /* Adjust the position */
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .custom-swiper{
    padding: 40px !important;
  }
}

@media (max-width: 500px) {
  .custom-swiper{
    padding: 30px !important;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: white;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffd966;
}